name: lint

on:
  pull_request:
    branches:
      - master
      - develop

jobs:
  eslint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm clean-install

      - name: Run ESLint in strict mode
        run: npm run lint:strict
